.vs/
.vscode/
*.pyc
OpenALPR/x64/Debug/opencv_world455d.dll
OpenALPR/openalpr-opencv4/

studio/webapp/media/media/

studio/webapp/alpr/__pycache__/
studio/webapp/alpr/migrations/__pycache__/


studio/webapp/login/__pycache__/
studio/webapp/login/migrations/__pycache__/

studio/webapp/duo_universal_auth/__pycache__/
studio/webapp/duo_universal_auth/migrations/__pycache__/

studio/webapp/webapp/__pycache__/
studio/webapp/webapp/migrations/__pycache__/

studio/openalpr64-sdk-4.1.1/python/build/
studio/openalpr64-sdk-4.1.1/python/dist/
studio/openalpr64-sdk-4.1.1/python/openalpr.egg-info/
studio/webapp/db.sqlite3

plateServer/.vs/
plateServer/x64/
plateServer/loaddb/x64/
plateServer/server/x64/

