studio/webapp/db.sqlite3
studio/webapp/media/media/*
studio/webapp/alpr/migrations/*
.vs/*
.vscode/*
OpenALPR/x64/Debug/opencv_world455d.dll
OpenALPR/openalpr-opencv4/*
studio/webapp/alpr/__pycache__/*
