<!DOCTYPE html>
{% load static %}
{% load bootstrap_icons %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LGE Tartan, Team 2</title>
    <link href="{% static 'style.css' %}" rel="stylesheet" type="text/css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script src="{% static 'generate-table.js' %}"></script>

    <script>
        var g_pollingStatus = true;
        var g_pollingTm = null;
        var g_filename = null;

        function req_remove_vehicle_info(pid) {
            $('#information').children('tbody').remove();

            $.ajax({
                url: '/alpr/remove_vehicle_history?filename=' + pid,
                type: 'GET',
                dataType: 'json',
                success: function (response) {
                },
                error: function (request, status, error) {
                    // console.log("code:" + request.status + "\n" + "message:" + request.responseText + "\n" + "error:" + error);
                }
            })
        }

        function start_polling(pid) {
            $('#btnInprogress').removeClass('btnHidden').addClass('btnVisible');
            $('#btnRealTime').removeClass('btnVisible').addClass('btnHidden');
            g_pollingStatus = true;
            $.ajax({
                url: '/alpr/get_vehicle?pid=' + pid,
                type: 'GET',
                dataType: 'json',
                success: function (response) {
                    // console.log(response[0].plate_number)
                    $('#information').children('tbody').remove();
                    $("#information").generateTable(response, null);
                    $('#information').children('tbody').children('tr:first').click();
                    $('#information').children('tbody').children('tr:first').addClass("A-highlight");

                },
                error: function (request, status, error) {
                    console.log("code:" + request.status + "\n" + "message:" + request.responseText + "\n" + "error:" + error);
                },
                timeout: 3000,
                complete: function () {
                    if (g_pollingStatus) { g_pollingTm = setTimeout(function () { start_polling(pid); }, 3000); }
                }
            })
        }

        function stop_polling() {
            g_pollingStatus = false;
            clearTimeout(g_pollingTm);
            $('#btnInprogress').removeClass('btnVisible').addClass('btnHidden');
            $('#btnRealTime').removeClass('btnHidden').addClass('btnVisible');
        }

        function blankForNull(s) {
            return (s == null) ? "" : s;
        }

        function get_captured_vehicle(pn, cd, time) {
            $.ajax({
                url: "/alpr/get_captured_vehicle",
                type: "POST",
                headers: {
                    'X-CSRFToken': '{{ csrf_token }}'
                },
                data: {
                    plate_number: pn,
                    filename: g_filename
                },
                success: function (result) {
                    // console.log(result.plate_number);
                    // $('#imgPlate').attr("src", "data:image/jpg;base64," + result);
                    s_status = blankForNull(result.status);

                    $("#data_plate_number").text(blankForNull(result.plate_number_likely));
                    $("#data_status").text(s_status).removeClass("Astatus").removeClass("AbtnGreen").removeClass("AbtnRed");
                    $("#data_exp").text(blankForNull(result.regist_exp));
                    $("#data_owner").text(blankForNull(result.owner));
                    $("#data_birth").text(blankForNull(result.owner_birth));
                    $("#data_addr").text(blankForNull(result.owner_addr));
                    $("#data_zip").text(blankForNull(result.owner_zip));
                    $("#data_yom").text(blankForNull(result.yom));
                    $("#data_maker").text(blankForNull(result.maker));
                    $("#data_model").text(blankForNull(result.model));
                    $("#data_color").text(blankForNull(result.color));
                    if (s_status == "") {
                        $("#alert_area").removeClass('AlertRed');
                        $("#alert_area").removeClass('AlertGreen');

                    } else if (s_status == "No Wants / Warrants") {
                        $("#alert_area").removeClass('AlertRed');
                        $("#alert_area").addClass('AlertGreen');
                        $("#data_status").text(s_status).addClass("Astatus").addClass("AbtnGreen");
                        $("#data_status").parents('tr').addClass("ALeftAlign");


                    } else {
                        $("#alert_area").removeClass('AlertGreen');
                        $("#alert_area").addClass('AlertRed');
                        $("#data_status").text(s_status).addClass("Astatus").addClass("AbtnRed");
                        $("#data_status").parents('tr').addClass("ALeftAlign");
                    }
                },
                error: function (request, status, error) {
                    console.log("code:" + request.status + "\n" + "message:" + request.responseText + "\n" + "error:" + error);
                }
            })
        }

        $(document).ready(function () {
            $("#information").on("click", 'tr', function (event) {
                var pn = $(this).children("td").eq(0).text();
                var cd;
                var time;

                $("#information").children('tbody').children('tr:gt(0)').removeClass("A-highlight");
                $("#information").children('tbody').children('tr:eq(0)').removeClass("A-highlight");
                $(this).addClass("A-highlight");
                // $(this).closest('tr').children('td:first').children('div').addClass("btnHidden");
                // $(this).children('td:first').children('div').removeClass("btnHidden");
                // $("#information").children('tbody').children('tr:eq(0)').closest('div').removeClass("btnHidden");

                $.ajax({
                    url: "/alpr/get_captured_plate",
                    type: "POST",
                    headers: {
                        'X-CSRFToken': '{{ csrf_token }}'
                    },
                    data: {
                        plate_number: pn,
                        filename: g_filename
                    },
                    success: function (result) {
                        // console.log(result);
                        $('#imgPlate').attr("src", "data:image/jpg;base64," + result);
                        get_captured_vehicle(pn, cd, time);
                    },
                    error: function (request, status, error) {
                        console.log("code:" + request.status + "\n" + "message:" + request.responseText + "\n" + "error:" + error);
                    }
                })
            });


            $("#btnLiveMode").on("click", function (event) {
                g_filename = 'live'
                req_remove_vehicle_info('live');
                $('#player').attr("src", "webcam?pid=" + 'live');

                stop_polling();
                setTimeout(function () { start_polling('live'); }, 3000);
            });

            $("#btnLiveOffMode").on("click", function (event) {
                $('#player').attr("src", "stop?pid=" + g_filename);
                stop_polling();
            });

            $("#btnInprogress").on("click", function (event) {
                stop_polling();
            });
            $("#btnRealTime").on("click", function (event) {
                start_polling(g_filename);
            });

            $(".btnRemoveHistory").on("click", function (event) {
                var pid = $(this).children('input').val();
                req_remove_vehicle_info(pid)
            });

            $(".btnPlay").on("click", function (event) {
                var pid = $(this).children('input').val();
                g_filename = pid;
                req_remove_vehicle_info(pid)
                $('#player').attr("src", "playback?pid=" + pid);

                stop_polling();
                setTimeout(function () { start_polling(pid); }, 3000);
            });

            $(".btnStop").on("click", function (event) {
                var pid = $(this).children('input').val();
                g_filename = pid;
                $('#player').attr("src", "stop?pid=" + pid);
                stop_polling();
            });

            $(".btnRemove").on("click", function (event) {
                var id = $(this).children('input').val();
                window.location.href = 'remove?id=' + id;
            });

        });
    </script>
</head>

<body>
    {% include "base.html" %}
    <form id="upload_form" action="{% url 'alpr:upload' %}" method="POST" enctype="multipart/form-data">
        <input type="file" name="uploadedFile">
        {% csrf_token %}
        <input type="submit" value="Upload">
    </form>
    <div>&nbsp;</div>
    <div style="width:1200px;">
        <div class="dvBoard horiz">
            <div>
                <h4>Menu</h4>
                <div id="btnLiveMode"><button type="button" class="btn btn-success">Turn on live CAM</button></div>
                <div id="btnLiveOffMode"><button type="button" class="btn btn-secondary">Turn off live
                        CAM</button>
                </div>
            </div>
        </div>
        <div class="dvBoard horiz">
            <div>
                <h4>Uploaded Video</h4>
            </div>
            <div>
                <table class="mainTable" id="tbMovieInfo">
                    {% for file in files %}
                    <tr>
                        <td style="text-align: left; padding:5px;">{{ file.filename }}</td>
                        <!-- <td>{{ file.dateTimeOfUpload }}</td> -->
                        <td>
                            <!-- $('#player').attr("src", "playback?pid=" + data.pid) -->
                            <div class="btnA btnPlay" title="Play!">
                                <input type="hidden" value="{{ file.filename }}">
                                {% bs_icon 'play-circle' %}
                            </div>
                            <div class="btnA btnStop" title="Sop!">
                                <input type="hidden" value="{{ file.filename }}">
                                {% bs_icon 'stop-circle' %}
                            </div>
                            <div class="btnA btnRemove" title="Remove Playback">
                                <input type="hidden" value="{{ file.id }}">
                                {% bs_icon 'trash3' %}
                            </div>
                            <div class="btnA btnRemoveHistory" title="Remove History">
                                <input type="hidden" value="{{ file.filename }}">
                                {% bs_icon 'journal-minus' %}
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
        <div class="dvBoard horiz">
            <div>
                <h4 style="display: inline-block;">Detected Information</h4>
                <div id="btnInprogress" class="btnTimer btnHidden">
                    <div class="spinner-grow spinner-grow-sm" role="status">
                        <span class="sr-only"></span>
                    </div>
                </div>
                <div id="btnRealTime" class="btnTimer">
                    {% bs_icon 'play-circle-fill' %}
                </div>
            </div>
            <div>
                <td id="tdRight">
                    <div id="dvPlate">
                        <table id="information">
                        </table>
                    </div>
                </td>
            </div>
        </div>
        <div class="dvBoard Alarge">
            <div id="dvPlayer"><img id="player" /></div>
        </div>
        <div id="alert_area" class="dvBoard horiz Atall">
            <div>
                <h4>Vehicle Information</h4>
            </div>

            <div id="dvCaptured">
                <img style="max-width: 270px;height: 130px;" id="imgPlate" />
            </div>
            <div>&nbsp;</div>
            <div id="dvVInfo">
                <table>
                    <tr>
                        <td>
                            <div class="small-title">Plate Number</div>
                        </td>
                        <td>
                            <div class="small-contents" id="data_plate_number"></div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="small-title">Status</div>
                        </td>
                        <td>
                            <div class="small-contents" id="data_status"></div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="small-title">Regist Exp.</div>
                        </td>
                        <td>
                            <div class="small-contents" id="data_exp"></div>
                        </td>

                    </tr>
                    <tr>
                        <td>
                            <div class="small-title">Owner</div>
                        </td>
                        <td>
                            <div class="small-contents" id="data_owner"></div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="small-title">Owner Birth</div>
                        </td>
                        <td>
                            <div class="small-contents" id="data_birth"></div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="small-title">Addr</div>
                        </td>
                        <td>
                            <div class="small-contents" id="data_addr"></div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="small-title">Zip</div>
                        </td>
                        <td>
                            <div class="small-contents" id="data_zip"></div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="small-title">Vehicle YoM</div>
                        </td>
                        <td>
                            <div class="small-contents" id="data_yom"></div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="small-title">Maker</div>
                        </td>
                        <td>
                            <div class="small-contents" id="data_maker"></div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="small-title">Model</div>
                        </td>
                        <td>
                            <div class="small-contents" id="data_model"></div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="small-title">Color</div>
                        </td>
                        <td>
                            <div class="small-contents" id="data_color"></div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</body>