<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LGE Tartan, Team 2</title>
    <link href="{% static 'style.css' %}" rel="stylesheet" type="text/css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script src="{% static 'generate-table.js' %}"></script>

    <script>
        function polling(pid) {
            $.ajax({
                url: '/alpr/get_vehicle?pid=' + pid,
                type: 'GET',
                dataType: 'json',
                success: function (response) {
                    // console.log(response[0].plate_number)
                    $('#information').children('tbody').remove();
                    $("#information").generateTable(response, ['plate', 'count']);

                },
                error: function (request, status, error) {
                    console.log("code:" + request.status + "\n" + "message:" + request.responseText + "\n" + "error:" + error);
                },
                timeout: 3000,
                complete: setTimeout(function () { polling(pid); }, 3000)
            })
        };

        $(document).ready(function () {
            $("#btnPlay").on("click", function (event) {
                var pid = $(this).children('input').val();
                $('#player').attr("src", "playback?pid=" + pid);
                polling(pid);
            });

            $("#btnRemove").on("click", function (event) {
                var id = $(this).children('input').val();
                window.location.href = 'remove?id=' + id;
            });

        });
    </script>
</head>

<body>
    <form action="{% url 'alpr:upload' %}" method="POST" enctype="multipart/form-data">
        <input type="file" name="uploadedFile">
        {% csrf_token %}
        <input type="submit" value="Upload">
    </form>
    <table class="mainTable" id="tbMovieInfo">
        <tr>
            <th>ID</th>
            <th>Video Name</th>
            <th>Upload Date & Time</th>
            <th>Action</th>
        </tr>
        {% for file in files %}
        <tr>
            <td>{{ file.id }}</td>
            <td>{{ file.filename }}</td>
            <td>{{ file.dateTimeOfUpload }}</td>
            <td>
                <!-- $('#player').attr("src", "playback?pid=" + data.pid) -->
                <div id="btnRemove"><input type="hidden" value="{{ file.id }}">Remove</div>
                <div id="btnPlay"><input type="hidden" value="{{ file.filename }}">Play</div>
            </td>
        </tr>
        {% endfor %}
    </table>
    <table class="mainTable" id="tbInfo">
        <tr>
            <td id="tdLeft">
                <div id="dvPlayer"><img id="player" /></div>
            </td>
            <td id="tdRight">
                <div id="dvPlate">
                    <table id="information">
                        <thead>
                            <tr>
                                <th>Plante No.</th>
                                <th>Confidence(Avg.)</th>
                                <th>Logged Time</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </td>

        </tr>
    </table>

</body>