@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    font-family: "Roboto";
    font-size: small;
}

a,
a:visited,
a:hover,
a:link,
a:active {
    text-decoration: none;
    color: black;
}

body {
    background-color: #F5F5F5;
}

form {
    background-color: #FFFFFF;
    padding: 25px;
}

table {
    width: 100%;
    text-align: center;
    margin-top: 0px;
    padding: 0px;
    background-color: #FFFFFF;
}

#dvPlate {
    overflow: auto;
    height: 500px;
}

#tdLeft {
    width: 700px;
}

#tdLeft,
#tdRight {
    border: solid 1px grey;
    padding: 0px;
}

.mainTable {
    width: 1000px;
    border: solid 1px grey;
}

#info thead {
    border: solid 1px grey;
}

.btnRemove,
.btnPlay {
    cursor: pointer;
    display: inline;
    padding-left: 10px;
    padding-right: 10px;
    border: solid 1px black;
    background: white;
}

.btnRemove:hover,
.btnPlay:hover {
    cursor: pointer;
    background: yellow;
}

#tbMovieInfo {
    background-color: rgb(196, 210, 255);
}

#upload_form {
    width: 600px;
    border: solid 1px #727297;
    background: #c9c9c9;
    padding: 1px;
}