@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    font-family: "Roboto";
    font-size: small;
}

h4 {
    color: rgb(150, 150, 150);
}

a,
a:visited,
a:hover,
a:link,
a:active {
    text-decoration: none;
    color: black;
}

body {
    background-color: #F5F5F5;
}

form {
    background-color: #FFFFFF;
    padding: 25px;
}

table {
    width: 100%;
    text-align: center;
    margin-top: 0px;
    padding: 0px;
    background-color: #FFFFFF;
}

#dvPlate {
    overflow: auto;
    height: 250px;
}

#tdLeft {
    width: 700px;
}

#tdLeft,
#tdRight,
#tdRightBottom {
    border: solid 1px grey;
    padding: 0px;
}

#tdRightBottom {
    height: 250px;
}

.mainTable {
    width: 1000px;
    border: solid 1px grey;
}

#info thead {
    border: solid 1px grey;
}

.btnA {
    cursor: pointer;
    display: inline;
    padding: 5px;
    /* padding-left: 5px;
    padding-right: 5px; */
    /* border: solid 1px rgb(255, 255, 255); */
    /* background: white; */
}

.btnA:hover {
    cursor: pointer;
    /* border: solid 1px black; */
}

.rowA:hover {
    cursor: pointer;
    background: rgb(219, 219, 219);
}

.dvBoard {
    background-color: white;
    width: 300px;
    height: 200px;
    border: 0px;
    padding: 15px;
    margin: 10px;
    overflow: auto;
}

.horiz {
    display: inline-block;
}

#tbMovieInfo {
    background-color: white;
    width: 100%;
    border: 0px;
}

#tbMovieInfo>tr {
    padding: 5px;
}

#upload_form {
    width: 100%;
    border: 0px;
    background: #c9c9c9;
    padding: 5px;
}


.btnImg {
    width: 15px;
    height: 15px;
}