{% extends "base.html" %}
{% block content %}
<div class="container my-3">
    <form method="post" action="{% url 'login:login' %}">
        {% csrf_token %}
        {% include "form_errors.html" %}
        {% if user.is_authenticated %}
        <h5 class="my-3 border-bottom pb-2">로그인 중입니다.</h5>
        {% else %}
        <div class="mb-3">
            <label for="username">사용자ID</label>
            <input type="text" class="form-control" name="username" id="username"
                   value="{{ form.username.value|default_if_none:'' }}">
        </div>
        <div class="mb-3">
            <label for="password">비밀번호</label>
            <input type="password" class="form-control" name="password" id="password"
                   value="{{ form.password.value|default_if_none:'' }}">
        </div>
        <button type="submit" class="btn btn-primary">로그인</button>
        {% endif %}
    </form>
</div>
{% endblock %}
